<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Coiny| Montserrat" rel="stylesheet">
    <title>Registration Failed</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1> Registration Failed - Please try again</h1>
            <a href="/">← Back To Home</a>
        </div>
    </div>
</body>

</html>