body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: #e8f5ff;
}

.container {
  text-align: center;

}

.table {
  border-radius: 13px;
}

th {
  font-family: "Coiny", Arial, Helvetica, sans-serif;
  
  color: white;
  font-size: 3.5rem;
}
#category-column {
  background-color: rgb(142, 231, 189);
  text-align: left;
  border-radius: 13px 0 0 0;
}
#expense-column {
  background-color: rgb(142, 231, 189);
  text-align: right;
  border-radius: 0 13px 0 0;
}
td {
  font-size: 2.5rem;
  color: #77b5e2;
  line-height: 2.5rem;
}

.link {
  color: #96d3ff;
  margin-right: 25px;
  font-family: "Coiny", Arial, Helvetica, sans-serif;
  text-align: right;
}
#login {
  color: rgb(255, 169, 226)
}
.row1 {
  margin-top: 30px;
}

.left-side {
  font-size: 3rem;
  text-align: center;
  margin-left: -10px;
}
#news-header {
  margin-top: 10px;
  font-family: "Coiny", Arial, Helvetica, sans-serif;
  color: #96d3ff;
  font-size: 4rem;
}
#charts-header {
  margin-top: 10px;
  font-family: "Coiny", Arial, Helvetica, sans-serif;
  color: #96d3ff;
  font-size: 4rem;
}
.table-borderless th, .table-borderless thead th {
  padding-top: 0;
  padding-bottom: 0;
}

.expense-td {
  text-align: right;
  padding-left: 0;
  padding-right: 30px;
  background-color: white;
}

.category-td {
  background-color: white;
  text-align: left;
}

img {
  margin-top: 50px;
}


/* .title {
  margin-top: 30px;
 
  
  text-align: center;
 
  
} */
#header-title {
  padding-top: 10px;
  margin-top: 30px;
  text-align: center;
  background-color: #96d3ff;
  border-radius: 30px;
  font-family: "Coiny", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 5rem;
  margin-top: 10;
  text-align: center;
  
}
tr {
  border-bottom: 7px solid #e8f5ff;
}

#total-expense {
  text-align: right;
  
  border-radius: 0 0 13px 0;
  background-color: rgb(255, 169, 226);
  color: white;
  
}
#total-category {
  text-align: left;
  border-radius: 0 0 0 13px;
  background-color: rgb(255, 169, 226);
  color: white;
  
}
#total-savings-category {
  background-color: rgb(142, 231, 189);
  color: white;
  border-radius: 0 0 0 13px;
  
  text-align: left;
  
  font-size: 3.5rem;
}
#total-savings {
  background-color: rgb(142, 231, 189);
  color: white;
  border-radius: 0 0 13px 0;
  text-align: right;
  font-size: 3.5rem;
}

.total-savings-row {
  height: 50px;
  
}

#math {
  
  border-radius: 13px 13px 0 0;
  background-color: #96d3ff;
  
}

#math-table {
  margin-top: 50px;
  margin-bottom: 100px;
}
