body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  
}

/* title */
.header {
  color: #18486d;
  letter-spacing: 11px;
  text-align: left;
  font-size: 3rem;
  padding-bottom: 15px;
}
.row1 {
  margin-top: 30px;
  
}
#header-title {
  letter-spacing: 1rem;
  padding: 10px;
  padding-bottom: 0;
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
  
  
  color: #18486d;
  font-size: 4rem;
 
  text-align: center;
  
}
/* 
#######################
username
#######################
*/
.username {
  text-align: left;
  font-size: 2rem;
  color: #18486d;
  padding-top: 0;
  text-align: right;
  margin-right: 20px;
}

#user-logout {
  color: rgb(243, 105, 158);
}
#user-logout:hover {
  cursor: pointer;
  color: rgb(218, 0, 83);
}

/* 
#######################
sign up and login
#######################
*/
.white {
  color: white;
}
#message {
  display:none;
  color:red;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}
a:link {
  color: white;
}
#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.btn-primary {
  background-color: #9ac9ec;
  border-color: #9ac9ec;
}

.btn-primary:hover {
  background-color: rgb(29, 152, 240);
  border-color: rgb(29, 152, 240);
}

.link {
  text-align: center;
  margin-right: 25px;
  text-align: left;
  font-size: 3rem;
}

#login {
  color: white;
}

#signup {
  color: #a4cdee;
}


#signup:hover {
  cursor: pointer;
  color: #6db1e6
}

#login:hover {
  cursor: pointer;
  color:  rgb(255, 169, 226);
}

label {
  color: #77b5e2;
}


.hide {
  display: none;   
}

.show {
  display: block;
}

.cancelbtn {
  background-color: rgb(243, 105, 158);
  border-color: rgb(243, 105, 158);
}

.cancelbtn:hover {
  background-color: rgb(218, 0, 83);
  border-color: rgb(218, 0, 83);
}

.psw {
  font-size: 1rem;
  text-align: left;
  color: rgb(255, 149, 220);
}

.psw:hover {
  color: #a4cdee;
  text-decoration: none;
}



input[type=text] {
  font-size: 1.5rem;
  
  border-radius: 4px;
}

input[type=password] {
  font-size: 1.5rem;
  border: 1px solid #afcfe6;
  border-radius: 4px;
}

.login-signup {
  background-color: #18486d;
  border-radius: 5px;
  padding: 10px;
  padding-left: 15px;
  
}


/* 
#######################
new expense form
#######################
*/

.input-forms {
  
  border-radius: 5px;
  border: 1px #18486d solid;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.right {
  text-align: right;
  margin-top: 15px;

}

.input-group-addon {
  font-size: 1.5rem;
}

#new-expense-submit {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

/* 
#######################
main table
#######################
*/

th {
  background-color: #18486d;
  color: white;
  font-size: 3.5rem;
}

#category-column {
  background-color: #18486d;
  text-align: left;
  border-radius: 5px 0 0 0;
}
#expense-column {
  background-color: #18486d;
  text-align: right;
  border-radius: 0 5px 0 0;
}

td {
  font-size: 2.5rem;
  color: #3575a7;
  line-height: 2.5rem;
  
}

.expense-td {
  text-align: right;
  padding-left: 0;
  padding-right: 30px;
  background-color: #e2eef6;
}

.category-td {
  
  text-align: left;
  background-color: #e2eef6;
}
/* tr {
  border-bottom: 7px solid #e8f5ff;
} */
/* 
#######################
math it up table
#######################
*/

.table td {
  border-top: 3px solid white;
}

#total-expense {
  text-align: right;
  border-radius: 0 0 5px 0;
  background-color: #9ac9ec;
  color: white;
  font-size: 3.5rem;
  padding: 20px;
}

#total-category {
  font-size: 3.5rem;
  text-align: left;
  border-radius: 0 0 0 5px;
  background-color: #9ac9ec;
  color: white;
  padding: 20px;
}

#total-savings-category {
  background-color: #9aecb9;
  color: white;
  border-radius: 0 0 0 5px; 
  text-align: left;
  font-size: 3.5rem;
  padding: 20px;
}

#total-savings {
  background-color: #9aecb9;
  color: white;
  border-radius: 0 0 5px 0;
  text-align: right;
  font-size: 3.5rem;
  padding: 20px;
}

#new-income-submit {
  width: 100%;
  margin-bottom: 20px;
}

#math {
  border-radius: 5px 5px 0 0;
  background-color: #18486d;
}

#math-table {
  margin-top: 50px;
  margin-bottom: 100px;
}
.table th {
  border-top: none;
}
/* 
#######################
other
#######################
*/



/* TABLE OF CONTENTS */

/* 1. title */
/* 2. sign up and login */
/* 3. new expense form */
/* 4. main table */
/* 5. math it up table */
/* 6. other */















